<div class="footer bottom">
    <p><i class="fa-solid fa-copyright"></i> WonderLust</p>
    <div class="Terms">
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
    </div>
    <div class="social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
    </div>
</div>
